{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
<div>
<table>
    <tr>
        <th>User</th>
        <th>Schedule</th>
        <th>Number of Seats</th>
        <th>Total Price</th>
        <th>Booking Date</th>
        <th>Actions</th>
    </tr>

    {% for x in bookings %}
    <tr>
        <td>{{ x.email }}</td>
        <td>{{ x.schedule }}</td>
        <td>{{ x.number_of_seats }}</td>
        <td>{{ x.total_price }}</td>
        <td>{{ x.booking_date }}</td>
        <td>
            <a href="{% url 'editbooking' x.id %}"><button>EDIT</button></a>
            <a href="{% url 'deletebooking' x.id %}"><button>DELETE</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}