{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Seat Reservation</title>
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
</head>
<body>

    <div id="train">
    </div>

    <div id="booking-info">
        <h2>Your Selection</h2>
        <p id="selected-seat">None</p>
        <button id="reserve-seat" onclick="reserveSeat()">Reserve Seats</button>
    </div>

    <script src="{% static 'js/seats.js' %}"></script>
</body>
</html>
